*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 700px;
    position: relative;
    background: url(../img/DxRqwcyX0AAnta8.png) center/cover no-repeat;
}

header h1{
    top: 40px;
    left: 60px;
    position: absolute;
    font-size: 48px;
    color: #fff;
    font-weight: 400;
}

section{
    padding: 60px 0;
}

h2{
    text-align: center;
    margin-bottom: 60px;
    margin-top: 60px;
    font-weight: 400;
}

.box {
    text-align: center;
}

.box img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 10px;
}

.box p {
    font-size: 20px;
    color: #666;
}

section img {
    max-width: 300px;
}

section .col-lg-4 {
    text-align: center;
}

footer{
    width: 100%;
    height: 50px;
    position: relative;
    background: url(../img/qF2d6wtFl0g.png) bottom/cover no-repeat;
}

footer h1{
    color: #fff;
    text-align: center;
    font-weight: 400;
}